@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

/* START VARIABLE */
:root {
  --pr-red: hsl(0, 78%, 62%);
  --pr-cyan: hsl(180, 62%, 55%);
  --pr-orange: hsl(34, 97%, 64%);
  --pr-blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}
/* END VARIABLE */
/* STAR COMPENANTE */
*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 975px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

p {
  color: var(--grayish-blue);
  line-height: 1.5;
}
/* END COMPENANTE */
/* START BODY */
body {
}
/* END BODY */

/* START MAIN  */
main {
  padding: 50px 0;
  text-align: center;
  min-height: 100vh;
}

main .container h1 {
  color: var(--grayish-blue);
  font-size: 1.4rem;
}

@media (min-width: 762px) {
  main .container h1 {
    font-size: 2rem;
  }
}

main .container h1 span {
  color: var(--very-dark-blue);
  display: block;
  margin-top: 5px;
}

main .container > p {
  margin-top: 25px;
  margin-bottom: 50px;
  width: 550px;
  max-width: 100%;
  margin: 25px auto 50px;
}

main .container .main-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  text-align: initial;
  gap: 25px;
}

@media (min-width: 768px) {
  main .container .main-content {
    flex-direction: row;
  }
}
main .main-content .box {
  background-color: white;
  width: 100%;
}

main .main-content .box:not(:nth-of-type(2)) {
  box-shadow: 0px 5px 7px 3px #dfdfdf;
  padding: 20px;
}

@media (min-width: 992px) {
  main .main-content .box {
    width: calc((100% - 50px) / 3);
  }
}

main .main-content .box:nth-of-type(2) .box-part {
  box-shadow: 0px 5px 7px 3px #dfdfdf;
  padding: 20px;
}

main .box:nth-of-type(2) .box-part:last-child {
  margin-top: 25px;
}

main .box-dicor {
  position: relative;
}

main .box-dicor::before {
  content: "";
  position: absolute;
  top: -5px;
  width: 100%;
  height: 5px;
  left: 0;
}

main .main-content > .box-dicor:first-of-type::before {
  background-color: var(--pr-cyan);
}

main .box .box-dicor:first-child::before {
  background-color: var(--pr-red);
}

main .box .box-dicor:last-child::before {
  background-color: var(--pr-orange);
}

main .main-content > .box-dicor:last-of-type::before {
  background-color: var(--pr-blue);
}

main .box h3 {
  font-size: 20px;
  color: var(--very-dark-blue);
}

main .box p {
  margin: 5px 0 25px;
}

main .box img {
  margin-left: calc(100% - 60px);
}
/* END MAIN */

/* START FOOTER */
footer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  font-size: 12px;
}

footer p {
  color: white;
}

footer p a {
  color: var(--pr-cyan);
  text-decoration: none;
}

footer p a:focus,
footer p a:hover {
  color: var(--pr-blue);
}
footer p i {
  color: red;
  font-size: 14px;
}
/* END FOOTER */
